<footer>
    <nav id="social">
        <ul>
            <li>
                <a href="//twitter.com/siilime" title="Find me on Twitter">
                    <img src="/images/vectors/social/twitter.svg" />
                </a>
            </li>
            <li>
                <a href="//linkedin.com/pjlaszkowicz" title="Find me on LinkedIn">
                    <img src="/images/vectors/social/linkedin.svg" />
                </a>
            </li>
            <li>
                <a href="//instagram.com/siilime" title="Find me on Instagram">
                    <img src="/images/vectors/social/instagram.svg" />
                </a>
            </li>
            <li>
                <a href="//facebook.com/siilime" title="Find me on Facebook">
                    <img src="/images/vectors/social/facebook.svg" />
                </a>
            </li>
            <li>
                <a href="//github.com/siilime" title="Find me on GitHub">
                    <img src="/images/vectors/social/github.svg" />
                </a>
            </li>
            <li>
                <a href="//gitlab.com/siilime" title="Find me on GitLab">
                    <img src="/images/vectors/social/gitlab.svg" />
                </a>
            </li>
            <li>
                <a href="/contact" title="Contact">
                    <img src="/images/vectors/social/email.svg" />
                </a>
            </li>
        </ul>
    </nav>
    <nav id="project">
        <ul>
            <li>
                <a href="/contact" title="Contact">
                    Contact
                </a>
            </li>
            <li>
                <a href="/design" title="Design">
                    Design
                </a>
            </li>
            <li>
                <a href="/license" title="License">
                    License
                </a>
            </li>
            <li>
                <a href="//gitlab.com/fillip/fillip.gitlab.io" title="Source">
                    Source
                </a>
            </li>
        </ul>
    </nav>
</footer>