{% extends "layouts/default.html" %}

{% block content %}
<main role="main">
    <nav id="about">
        <h2>About</h2>
        <ul>
            <li>
                <a href="/about#siilime" title="About Me">
                    <div class="card">
                        <h3>Me</h3>
                        <img src="{% asset "/images/rasters/about/me.png" %}" />
                        <p>About me.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <nav id="portfolio">
        <h2>Portfolio</h2>
        <ul>
            <li>
                <a href="/portfolio/smart-tv" title="Smart TV">
                    <div class="card">
                        <h3>Smart TV</h3>
                        <img src="{% asset "/images/rasters/portfolio/smart-tv.png" %}" />
                        <p>Smart TV project.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a href="/portfolio/ar" title="Augmented Reality">
                    <div class="card">
                        <h3>Augmented Reality</h3>
                        <img src="{% asset "/images/rasters/portfolio/ar.png" %}" />
                        <p>Augmented reality project.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a href="/portfolio/gis" title="GIS">
                    <div class="card">
                        <h3>GIS</h3>
                        <p>Geographical information system.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a href="/portfolio/video-games" title="Video Games">
                    <div class="card">
                        <h3>Video Games</h3>
                        <p>Video game projects.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a href="/portfolio/sso" title="SSO">
                    <div class="card">
                        <h3>SSO</h3>
                        <p>Single sign-on systems.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li>
                <a href="/portfolio/mobile" title="Mobile Apps">
                    <div class="card">
                        <h3>Mobile Apps</h3>
                        <img src="{% asset "/images/rasters/portfolio/mobile.png" %}" />
                        <p>Mobile applications.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <nav id="articles">
        <h2>Articles</h2>
        <ul>
            <li>
                <a href="/articles/2017-01-08/lehti" title="Designing Lehti">
                    <div class="card">
                        <h3>Designing Lehti</h3>
                        <!--img src="/images/rasters/articles/2017-01-08/lehti.png" /-->
                        <p>Designing Lehti.</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
    <nav id="projects">
        <h2>Projects</h2>
        <ul>
            <li>
                <a href="//gitlab.com/fillip/fillip.gitlab.io" title="Lehti">
                    <div class="card">
                        <h3>Lehti</h3>
                        <!--img src="/images/rasters/articles/2017-01-08/lehti.png" /-->
                        <p>Lehti @ GitLab</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1334 750">
                            <use xlink:href="{% asset "/images/vectors/brand/card.svg#card-hd" %}" x="0" y="0"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</main>
{% endblock %}